<h1 class="sub-header">Frequently Asked Questions</h1>

<h3>Can I be notified when a Catalog item changes?</h3>
<p>
  The <strong>Latestver</strong> log features
  an RSS feed which can be used with the free service IFTTT to receive notifications
  or trigger automated actions. &nbsp;<em><a href="<%= Settings[:branding][:ifttt] %>" target="_blank">Learn how.</a></em>
</p>
<p>
  Privately deployed versions of Latestver features in-built webhooks. &nbsp;<em>See below.</em>
</p>

<br />
<h3>How do I add a new Catalog item?</h3>
<p>
  This is a hosted edition of <strong>Latestver</strong> where the catalog
  items are curated.<br />You may request new entries by posting a
  message to the project's community &mdash;
  <a href="<%= Settings[:branding][:gitter][:url] %>" target="_blank"
    ><img src="<%= Settings[:branding][:gitter][:badge] %>" /></a>
</p>
<p>
  <strong>Alternatively...</strong> you can deploy your own copy of this software with
  <a href="<%= Settings[:branding][:docker] %>" target="_blank">Docker</a>
  for a custom catalog, webhooks, project tracking, and admin access.
</p>

<br />
<h3>How does Latestver lookup versions?</h3>
<p>
  The catalog supports various mechanisms to monitor version updates...
</p>
<ul>
  <li>Git repository release tags</li>
  <li>RubyGems.org publications</li>
  <li>NPM registry entries</li>
  <li>Web-page pattern matching/scraping</li>
  <li>Ruby modules for custom entries, such as Oracle Java</li>
</ul>

<br />
<h3>How can I deploy my own copy of Latestver?</h3>
<p>
  Please review the project's README on
  <a href="<%= Settings[:branding][:github] %>" target="_blank"
  ><i class="fa fa-github"></i> GitHub</a>.
</p>

<br />
<h3>What extra features do privately deployed editions have?</h3>
<div class="row">
  <div class="col-md-4">
    <h4 class="sub-header text-primary"><i class="fa fa-pencil"></i> Custom Dependencies</h4>
    <a href="<%= image_path('feature-git.jpg') %>"
      ><%= image_tag('feature-git.jpg', class: 'img-responsive img-thumbnail') %></a>
  </div>
  <div class="col-md-4">
    <h4 class="sub-header text-primary"><i class="fa fa-bolt"></i> Webhooks</h4>
    <a href="<%= image_path('feature-webhooks.jpg') %>"
      ><%= image_tag('feature-webhooks.jpg', class: 'img-responsive img-thumbnail') %></a>
  </div>
  <div class="col-md-4">
    <h4 class="sub-header text-primary"><i class="fa fa-briefcase"></i> Project-level Tracking</h4>
    <a href="<%= image_path('feature-groups.jpg') %>"
      ><%= image_tag('feature-groups.jpg', class: 'img-responsive img-thumbnail') %></a>
  </div>
</div>
