<%= render 'shared/demo_jumbo' %>
<br />
<h3 class="sub-header">
  <span class="pull-right small hidden-xs hidden-sm" style="padding-top: 12px;">
    <i class="fa fa-question-circle"></i> Click an entry name for badges and JSON API usage</span>
  Catalog
</h3>
<table id="catalog" class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Tag</th>
    <th>Version</th>
    <th>External Links</th>
  </tr>
  </thead>
  <tbody>
  <% @catalog.each do |entry| %>
      <tr>
        <td><a href="<%= catalog_view_path(name: entry.name, tag: entry.tag) %>"><%= entry.name %></a></td>
        <td><%= entry.tag %></td>
        <td><%= entry.version %></td>
        <td>
          <% unless entry.description.to_s.empty? %>
              <em class="small hidden-xs"><%= entry.description %> &nbsp; &nbsp; </em>
          <% end %>
          <%= render partial: 'shared/entry_links', locals: {entry: entry} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
$(document).ready(function(){
  $('#catalog').DataTable({
    iDisplayLength: 25
  });
});
</script>
